[submodule "Sources/Thorvg/Thorvg"]
	path = Sources/Thorvg/Thorvg
	url = git@github.com:thorvg/thorvg.git
[submodule "deps/dotlottie-rs"]
	path = deps/dotlottie-rs
	url = https://github.com/Lottiefiles/dotlottie-rs
